*{
  box-sizing: border-box;
}
body{
  background-color: rgb(165, 86, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form{
width: 100%;
max-width: 700px;
}

.user-form input{
  width: 100%;
  display: block;
  background-color: #adadad82;
  border:none;
  border-radius: 10px;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
  font-size: 16px;
}

.user-form input::placeholder{
  color: #adadadaf;
}
.card{
  max-width: 800px;
  background-color: #adadad82;
  border-radius: 20px;
  display: flex;
  padding: 32px;
  box-shadow: 0 0 10px #adadad
}

.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid purple;
  margin-top: 20%;
}

.user-info{
  color: white;
  margin-left: 32px;
}
.user-info h2{
  margin-top: 0.5em;
  color: #5f015f;
}
.user-info p{
  color: purple;
}
.location{
  margin-top: -15px;
}
.user-info ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  max-width: 400px;
  margin-left: -45px;
  color: #5f015f;
}
.user-info ul li{
  display: flex;
  align-items: center;
  margin: 5px;
}

.user-info ul li strong{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}


.repo{
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px;
  font-size: 11px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#repos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .card{
    flex-direction: column;
    align-items: center;
  }
  .user-form{
    max-width: 400px;
  }
  #repos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
