*{
  box-sizing: border-box;
}
body{
  background-color: rgb(165, 86, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form{
width: 100%;
max-width: 700px;
}

.user-form input{
  width: 100%;
  display: block;
  background-color: gray;
  border:none;
  border-radius: 10px;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
  font-size: 16px;
}

.card{
  max-width: 800px;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  margin: 0 20px;
  padding: 32px;
}

.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid purple;
}

.user-info{
  color: white;
  margin-left: 32px;
}
.user-info h2{
margin-top: 0ex;
}
.user-info ul{
display: flex;
justify-content: space-between;
list-style-type: none;
max-width: 400px;
margin-left: -41px;
}
.user-info ul li{
display: flex;
align-items: center;
}

.user-info ul li strong{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}


.repo{
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px ;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .card{
    flex-direction: column;
    align-items: center;
  }
  .user-form{
    max-width: 400px;
  }
}
